*{
    margin-top: 30px;
    color: white;
}
.dashboard{
    margin-left: 500px;
}
.lists{
    justify-content: center;
    margin:40px;
    
}
.thing{
    margin: 40px;
    background-color: rgb(119, 119, 170);
    width: 150px;
}